<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>

<form action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get" class="search">
    <input type="text"
           placeholder="<?php /* @escapeNotVerified */ echo __('Search'); ?>"
           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
           type="text"
           name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
           value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
           maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
           role="combobox"
           aria-haspopup="false"
           aria-autocomplete="both"
           autocomplete="off"
    />
    <input type="submit" name="" value="">
</form>

