// Common style
body {
    font-family: Roboto-regular, Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.page-header {
    margin: 0;
}
/*==============================
    HEADER
===============================*/
/* Logo */
.logo {
    display: block;
    float: left;
    margin: 26px 0 27px 3px;
    max-width: 100%;
}

/* Search */
.search {
    width: 273px;
    float: right;
    position: relative;
    margin: 38px 0 0 0;

    input[type=submit] {
        border: none;
    }

    input:focus {
        outline: none;
    }

    // SEARCH PLACEHOLDER STYLES
    input::-webkit-input-placeholder {
        color: #aaaaaa;
    }
    input::-moz-placeholder {
        color: #aaaaaa;
    }
    input:-moz-placeholder {
        color: #aaaaaa;
    }
    input:-ms-input-placeholder {
        color: #aaaaaa;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }
    input:focus::-moz-placeholder {
        color: transparent
    }
    input:focus:-moz-placeholder {
        color: transparent
    }
    input:focus:-ms-input-placeholder {
        color: transparent
    }

    input[type=text] {
        width: 100%;
        background: @white;
        padding: 12px 0 12px 15px;
        font: 16px/18px Roboto-regular;
        color: #aaaaaa;
        border: 1px solid #bebebe;
        height: auto;
    }

    input[type=submit] {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 11px;
        margin-right: 11px;
        width: 22px;
        height: 23px;
        background: url("@{baseDir}images/icon-search.png") 0 0 no-repeat;
    }
}

/* Sign up btn */
.sign-up-btn {
    display: block;
    float: right;
    font: 16px/18px Roboto-medium;
    color: @white;
    background: @light-sea-wave;
    padding: 13px 41px 13px 38px;
    margin: 38px 0 0 13px;
}

.sign-up-btn:hover {
    color: #fff;
}

/* Nav bar */
.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-wrapper {
    clear: both;
    background: #37393e;
}

/* Home link before main menu */
.home {
    margin: 11px 14px 10px 0;
    display: block;
    float: left;
}

/* main menu */
.main-menu {
    margin: 27px 0 0 0;

    & > li {
        margin: 0 19px 0 19px;
    }

    li > a {
        padding: 0;
        font: 16px/18px Roboto-medium;
        color: @white !important;
    }

    li.parent > a {
        padding: 0 19px 0 0;
        background: url("@{baseDir}images/icon-arrow-down.png") 100% 8px no-repeat ;
    }


    li.parent ul {
        display: none;
        border-top: 2px solid @light-sea-wave;
        min-width: 156px;
        position: absolute;
        padding: 10px 10px 0px 10px;
        margin: 30px 0 0 0;
        z-index: 999;
        background: #37393e;

        li {
            margin:0 0 6px 0;
        }
    }
}

/* navbar right links */
.navbar-right-links {
    margin: 0;
    padding: 0;
    float: right;

    li {
        float: left;
        margin-bottom: 0;

        a {
            font: 36px/38px Roboto-light;
            color: @white;
            display: block;
        }
    }

    .cart-btn {
        padding: 17px 36px 21px 82px;
        background: @light-yellow url("@{baseDir}images/icon-cart.png") 21px 23px no-repeat;
    }

    .sign-in-btn {
        padding: 17px 28px 21px 68px;
        background: @light-sea-wave url("@{baseDir}images/icon-user.png") 23px 25px no-repeat;
    }
}

/* Header carousel */
#slider {
    z-index: 5;
    width: 100%;

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

    .carousel-control {
        width: 50px;
        height: 50px;
        opacity: 1;
        position: absolute;
        margin-top: 180px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .carousel-control:hover, .carousel-control:focus {
        opacity: 1;
    }

    .item img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        width: 100%;
    }
}


/*==============================
    FOOTER
===============================*/
#footer {
    height: 396px;
    background: #37393e;
    padding: 35px 0 0 0;
    margin: 0;
}

/* Footer top menu */
.footer-top-menu {
    float: left;
    padding: 0 0 46px 0;
    margin: 0;
    background: url("@{baseDir}images/footer-top-list-bg.png") 0 100% repeat-x;

    li {
        padding: 0;

        .footer-top-menu-title {
            font: 30px/32px Roboto-light;
            color: @white;
            padding: 0 0 9px 0;
            background: url("@{baseDir}images/icon-title-bg.png") 0 100% no-repeat;
        }

        ul {
            padding: 0;
            margin: 28px 0 0 3px;

            li {
                margin: 0 0 12px 0;

                a {
                    font: 14px/16px Roboto-light;
                    color: @white;
                }
            }
        }
    }
}

/* footer bottom block */
.footer-bottom-block {
    padding: 0;
    margin: 35px 0 0 0;

    .left-block {
        padding: 0;

        .copyright {
            font: 14px/16px Roboto-regular;
            color: @white;
        }

        .designed-company {
            margin: 10px 0 0 0;
        }
    }

    .right-block {
        padding: 0;

        span {
            font: 30px/32px Roboto-light;
            color: @white;
            float: left;
            display: block;
            margin: 3px 0 0 0;
        }

        ul {
            float: left;
            margin: 0 -13px 0 0;

            li {
                float: left;
                margin: 0 13px 0 0;
            }
        }
    }

}