//
//  Ecommerce color variables
//  _____________________________________________
// Variables
@dark-grey: #333333;
@light-grey: #8c8c8c;
@white: #ffffff;
@light-sea-wave: #00a8a9;
@light-yellow: #f0cc50;
@color-white-smoke: #f5f5f5;
//
//  Sidebar
//  ---------------------------------------------
@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
