<footer id="footer">
    <div class="container">
        <div class="row">
            <ul class="footer-top-menu col-md-12">
                <li class="col-md-3">
                    <!-- Footer links block 1 -->
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f-links-1')->toHtml();?>
                </li>
                <li class="col-md-3">
                    <!-- Footer links block 2 -->
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f-links-2')->toHtml();?>
                </li>
                <li class="col-md-3">
                    <!-- Footer links block 3 -->
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f-links-3')->toHtml();?>
                </li>
                <li class="col-md-3">
                    <!-- Footer links block 4 -->
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f-links-4')->toHtml();?>
                </li>
            </ul>
            <div class="footer-bottom-block col-md-12">
                <div class="left-block col-md-6">
                    <?php echo $this->getChildHtml("copyright"); ?>
                    <div class="designed-company">
                        <a href="#"><img src="<?php echo $this->getViewFileUrl('images/icon-designed-company.png'); ?>" alt="<?php echo __('Magento 2 company') ?>"></a>
                    </div>
                </div>
                <div class="right-block col-md-6">
                    <!-- Cms block social links -->
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f-social-links')->toHtml();?>
                </div>
            </div>
        </div>
    </div>
</footer>
