<header id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <!-- Header nav bar -->
                    <div class="navbar-header">
                        <!-- Logo -->
                        <?php echo $this->getChildHtml("logo"); ?>
                    </div>

                    <!-- search form in collapse block -->
                    <div class="collapse navbar-collapse"
                         id="first-collapse-block">
                        <div class="row">
                            <a href="#" class="sign-up-btn"><?php /* @escapeNotVerified */ echo __('Sign up'); ?></a>
                            <?php echo $this->getChildHtml("topSearch"); ?>
                        </div>
                    </div><!-- /.search form in collapse block -->
                </div>
            </div>

            <!-- header-main-menu in collapse block -->
            <div class="row">
                <div class="navbar-wrapper collapse navbar-collapse"
                     id="second-collapse-block">
                    <div class="container">
                        <div class="row">
                            <a href="<?php echo $block->getUrl(''); ?>" class="home"><img src="<?php echo $this->getViewFileUrl('images/icon-home.png'); ?>" alt="<?php /* @escapeNotVerified */ echo __('Go to Home'); ?>"></a>

                            <?php echo $this->getChildHtml("catalog.topnav"); ?>
                            <ul class="navbar-right-links">
                                <li>
                                    <a href="#" class="cart-btn">Cart
                                        <b>0</b></a>
                                </li>
                                <li>
                                    <a href="#" class="sign-in-btn">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>  <!-- /.header-main-menu in collapse block -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Slider -->
    <?php echo $this->getChildHtml("header.slider"); ?>
</header>