<div id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="<?php echo $this->getViewFileUrl('images/slide-1.jpg'); ?>" alt="Slide #1">
            </div>
            <div class="item">
                <img src="<?php echo $this->getViewFileUrl('images/slide-2.jpg'); ?>" alt="Slide #2">
            </div>
            <div class="item">
                <img src="<?php echo $this->getViewFileUrl('images/slide-1.jpg'); ?>" alt="Slide #3">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span>
                <img src="<?php echo $this->getViewFileUrl('images/icon-prev-btn.png'); ?>" alt="Prev slide">
            </span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span>
                <img src="<?php echo $this->getViewFileUrl('images/icon-next-btn.png'); ?>" alt="Next slide">
            </span>
        </a>
    </div>
</div>